<div class="container">
  <hr />
  <div class="d-flex justify-content-start">
    <div class="mr-auto p-2"><h4>Welcome</h4></div>
    <!-- <input type="file" id="input-file-now" class="file-upload" /> -->
    <button style=" color: antiquewhite; background-color:#00745D ; cursor:pointer"  onclick="$('#input').click()">Upload</button>
    <input type="file" id="input" style="display:none">
  </div>
  <hr />
  <div class="card mb-4" style="height: 18rem">
    <div class="card-body">
      <h5 class="card-title">RECENTLY VIEWED</h5>

      <video
        *ngFor="let item of viewedArr"
        id="{{ item.id }}"
        width="250"
        style="padding-left: 10px"
        (click)="videoRead($event)"
      >
        <source src="{{ item.path }}" type="video/mp4" />
        Your browser does not support HTML video.
      </video>
    </div>
  </div>
  <div class="card">
    <div class="card-body" style="height: 18rem">
      <h5 class="card-title">RECENTLY UPLOADED</h5>

      <video
        style="padding-left: 10px"
        *ngFor="let item of videoArr"
        id="{{ item.id }}"
        width="250"
        (click)="videoRead($event)"
      >
        <source src="{{ item.path }}" type="video/mp4" />
        Your browser does not support HTML video.
      </video>
    </div>
  </div>
</div>
<br />
